@import '../../styles/settings/_colors.scss';
.container {
    width: 80%;
    margin: 60px auto;
    background-color: $white;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px 10px 20px 16px;
}