@import '../../styles/settings/colors';
:host {
  .title {
    color: $orange;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .mat-card {
    width: 30%;
    margin: 0 auto;
    min-height: 525px;
  }
}
