@import '../../styles/settings/colors';
:host {
    width: 100%;
    .title {
       color: $orange;
       font-weight: bold;
       line-height: 2;
    }
    .view-wrapper {
      width: 100%;
    }

    .item {
        margin-bottom: 10px;
    }

    .mat-button {
      margin-bottom: 10px;
    }

}