@import 'styles/settings/_colors.scss';

html, body {
    min-height: 100%;
    height: auto;
    width: 100%;
    background-color: $light-blue;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
